{% layout 'layout.liquid' %}
{% block content %}

    <div class="container-sm">
        {% comment %} in a form, we have an action and a method, the action is the url endpoint, the method is the verb {% endcomment %}
        <h1>You done logged out</h1>
    </div>

{% endblock %}